<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta author="snowyjone">
    <title>{% block title %}{% endblock %}</title>
		<link href="{{ url_for('static', filename='bootstrap-4.0/css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='bootstrap-4.0/css/bootstrap-callout.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='website/static/pdfjs-1.9.426-dist/build/pdf.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.0/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/chart.js/dist/Chart.min.js') }}"></script>
    {% block head %}{% endblock %}
</head>

<body>

  <nav class="navbar navbar-toggleable-md bg-inverse text-white">
		<h2 class="col-sm-3 navbar-nav mr-auto text-light navbar-header navbar-collapse"><a href={{ url_for('basic.index') }} style="color: white">图书销售管理系统</a></h2>
    
    {% block navpart %}{% endblock %}
  </nav>
  {% block content %}{% endblock %}
</body>

</html>
