<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta author="snowyjone">
    <title>{% block title %}{% endblock %}</title>

    {% load static %}
		<link href="{% static "bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "popper.js/dist/popper.min.js" %}"></script>
    <script src="{% static "tooltip.js/dist/tooltip.min.js" %}"></script>
    <script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "node_modules/chart.js/dist/Chart.min.js" %}"></script>
    <style type="text/css"></style>
</head>

<body>
  
<nav class="navbar navbar-light ml-2 mt-3">
  <div class="row mr-4 col-lg-12">
    <div class="col align-items-sm-start">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </div>
    <h1 class="navbar-brand col col-auto float-right" href="#">SNOWYJONE -- ta的书，以及天空之城</h1>
  </div>
</nav>

  {% block header %}{% endblock %}
  {% block body %}{% endblock %}
</body>

</html>
